<!DOCTYPE html>
<html ng-app="FeedReader" ng-controller="AllFeedsCtrl as allFeedsCtrl">
<head>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{allFeedsCtrl.appData.appTitle}}</title>
  <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">
  <link rel="stylesheet" type="text/css" href="style.css">
</head>

<body>
<div class="container">
    <div class="row">
      <a href="https://github.com/davidsanchezcrespillo/feedReader"><img style="position: absolute; top: 0; right: 0; border: 0;" src="forkme.png" alt="Fork me on GitHub"></a>
    
      <h1 class="pageTitle bg-primary">{{allFeedsCtrl.appData.appTitle}}<img src="{{allFeedsCtrl.appData.appLogo}}" class="alignRight" /></h1>
      <p class="well well-sm">{{allFeedsCtrl.appData.appDescription}}</p>
    </div>
    <div class="row">

        <div class="col-xs-12 col-sm-4">
        <div class="well">
          Filter by tag: <select ng-model="filterText.tags" ng-options="tag.name as tag.name for tag in allFeedsCtrl.appData.allTags"></select>
          <a class="btn btn-default" href="#" ng-click="filterText.tags = ''">See all</a>
        </div>
        <ul class="nav nav-tabs nav-stacked">
           <li class="" ng-repeat="feedElement in allFeedsCtrl.appData.allSources | filter:filterText">
               <a href="#" ng-click="allFeedsCtrl.loadFeed($event, feedElement.url)">{{ feedElement.name }}</a>
           </li>
        </ul>
        </div>
        
        <div class="col-xs-12 col-sm-8">
        <display-feed-items></display-feed-items>
        </div>
    </div>
    <div class="bg-info row">
    <p class="text-center"><a href="{{allFeedsCtrl.appData.appContact}}">Contact</a></p>
    </div>
</div>
  <script type='text/javascript' src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
  <script type='text/javascript' src='https://ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.min.js'></script>
  <script src="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
  <script type='text/javascript' src='feedReader.js'></script>
  <script type='text/javascript' src='data.js'></script>
</body>

</html>
