<!DOCTYPE html>
<html ng-app="FeedReader">
<head>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <title>feedReader</title>
  <script type='text/javascript' src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
  <script type='text/javascript' src='https://ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.min.js'></script>
  <script src="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.0/js/bootstrap.min.js"></script>
  <script type='text/javascript' src='feedReader.js'></script>
  <link rel="stylesheet" type="text/css" href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.0/css/bootstrap-combined.min.css">  
  <link rel="stylesheet" type="text/css" href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.0/css/bootstrap-responsive.min.css">    
  <link rel="stylesheet" type="text/css" href="style.css">

</head>
<body>
<div class="container-fluid">

    <h1>feedReader</h1>
    <div ng-controller="AllFeedsCtrl as allFeedsCtrl">
        Filter by tag: <select ng-model="filterText.tags" ng-options="tag.name as tag.name for tag in allFeedsCtrl.tags"></select>
        <a href="#" ng-click="filterText.tags = ''">See all</a>
        <ul>
           <li ng-repeat="feedElement in allFeedsCtrl.allSources | filter:filterText">
               <input type="checkbox" name="{{ feedElement.name }}" /><a href="#" ng-click="allFeedsCtrl.loadFeed($event, feedElement.url);">{{ feedElement.name }}</a>: {{ feedElement.tags }}
           </li>
        </ul>

        <div class="row-fluid">
        <span class="badge badge-warning" ng-show="feeds.length > 0">{{(feeds | filter:filterText).length}} Items</span>
        <ul class="unstyled">
          <li ng-repeat="feed in feeds | filter:filterText">                    
             <p><a target="_blank" href="{{feed.link}}">{{feed.title}}</a></p>
             <p class="text-left">{{feed.contentSnippet}}</p>                    
             <span class="small">{{feed.publishedDate}}</span>
          </li>                
        </ul>            
        </div>
    </div>
</div>

</body>
</html>
