<!DOCTYPE html>
<html ng-app="FeedReader">
<head>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <title>feedReader</title>
  <script type='text/javascript' src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
  <script type='text/javascript' src='https://ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.min.js'></script>
  <script src="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
  <script type='text/javascript' src='feedReader.js'></script>
  <script type='text/javascript' src='data.js'></script>
  <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">
  <link rel="stylesheet" type="text/css" href="style.css">
</head>

<body ng-controller="AllFeedsCtrl as allFeedsCtrl">
<div class="container-fluid">
    <h1 class="pageTitle bg-primary">{{allFeedsCtrl.appTitle}}</h1>
    <p>{{allFeedsCtrl.appDescription}}</p>
    
    <hr/>

    <div>
      <div class="bg-info row-fluid">
        <div class="col-xs-12 col-sm-4">
	    <div class="well">
          Filter by tag: <select ng-model="filterText.tags" ng-options="tag.name as tag.name for tag in allFeedsCtrl.tags"></select>
          <a class="btn btn-default" href="#" ng-click="filterText.tags = ''">See all</a>
        </div>
        <ul class="list-group">
           <li class="list-group-item" ng-repeat="feedElement in allFeedsCtrl.allSources | filter:filterText">
               <a href="#" ng-click="allFeedsCtrl.loadFeed($event, feedElement.url); loadData()">{{ feedElement.name }}</a>: {{ feedElement.tags }}
           </li>
        </ul>
        </div>
		<div class="col-xs-12 col-sm-8">
		<display-feed-items></display-feed-items>
		</div>
      </div>
    </div>
</div>
</body>

</html>
